{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Parolni tiklash{% endblock title %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg border-0 rounded-4" style="max-width: 500px; width: 100%;">
        <div class="card-body p-4">
            <h3 class="card-title text-center mb-3 text-primary">
                Parolni tiklash
            </h3>
            <p class="text-muted text-center mb-4">
                Email manzilingizni kiriting. Biz sizga parolni tiklash uchun yo‘riqnoma yuboramiz.(bu test holatda)
            </p>
            
            <!-- Forma -->
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <!-- Yuborish tugmasi -->
                    <button type="submit" class="btn btn-success rounded-3 fw-semibold">
                      Yuborish
                    </button>
                    
                    <!-- Orqaga link (shunchaki yozuv) -->
                    <a href="{% url 'login' %}" class="text-decoration-none text-secondary fw-semibold">
                        Bekor qilish
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
